



%h1 Listing events
%hedder
- if user_signed_in?
  .user_nav.user_login
    = link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn new_btn'
    = link_to 'New Event', new_event_path , class: 'btn new_btn'
- else
  .user_login
    = link_to "Log in", new_user_session_path, class: 'btn new_btn'
    = link_to "Sign up", new_user_registration_path, class: 'btn new_btn'
= yield



%table
  %thead
    %tr
      %th Title
      %th Details 
      %th Start date
      %th End date
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.title
        %td= event.description
        %td= event.start_date.strftime("%Y/%m/%d %H:%M")
        %td= event.end_date.strftime("%Y/%m/%d %H:%M")
        %td.btn= link_to 'Show', event
        %td.btn= link_to 'Edit', edit_event_path(event)
        %td.btn= link_to 'Destroy', event, method: :delete, data: { confirm: 'この項目は削除されます' }
        
 
  


%br
  #calendar
  
  
  %footer
    %p.footer
      my first app 2019
