!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Calendartodo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %link{:href => "assets/favicon2.png", :rel => "icon", :type => "image/png"}/

    -# %script{src: "//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js", type: "text/javascript"}
    -# %script{src: "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.2/fullcalendar.js", type: "text/javascript"}
    -# %script{src: "//cdnjs.cloudflare.com/ajax/libs/fullcalendar/1.6.2/gcal.js", type: "text/javascript"}
  %body
    = yield

    

